.directorist-gutenberg-listings-loop-contents,
.directorist-gutenberg-listings-loop {
	.directorist-container-fluid {
		padding: 0;
	}
}

.directorist-gutenberg-listings-loop-editor__notice {
	font-size: 12px;
	margin: 0 0 12px;
	color: #50575e;
}
