.directorist-gutenberg-single-listing-template-editor {
	border: 1px dashed #dcdcde;
	padding: 8px;
}

.directorist-gutenberg-single-listing-template-editor__notice {
	font-size: 12px;
	margin: 0 0 8px;
	color: #50575e;
}
